<div class="row" id="intro-row">
  <div class="col-md-2 col-md-offset-5 col-xs-10 col-xs-offset-1 animated zoomIn animation-delay-0-5">
    <h1 class="text-center text-white">Weather App</h1>
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        Please enter your zip code
      </div>
      <div class="panel-body">
        <div class="row">
        <form data-ng-submit="submitRequest()">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" id="zip">Zip</span>
              <input id="zip-entry" type="text" required data-ng-model="zipCode" data-ng-minlength="5" class="form-control" placeholder="" aria-describedby="zip">
              </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
          <button class="btn btn-success btn-block hvr-glow" data-ng-click="submitRequest()" type="submit"><i class="fa fa-mail-forward"></i></button>
      </div>
    </form>
    </div>
  </div>
</div>
